<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.credit.xiaowei">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 读写日历需要的权限设置 -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <!-- 自定义相册权限 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 这个权限用于拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 读取短信 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- Bugly -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- 【必须】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 【常用】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 【可选】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 添加发送短信权限 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!--  阅读消息-->
    <uses-permission android:name="android.permission.READ_SMS" />
    <!--  写入消息-->
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <!-- 接收消息 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

        <!--&lt;!&ndash; 必选权限 &ndash;&gt;-->
        <!--<uses-permission android:name="android.permission.INTERNET" />-->
        <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
        <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
        <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
        <!-- 可选权限，不声明此部分权限将放弃部分设备信息的采集，对数据分析及设备指纹的精准度有一定影响 -->
        ​
        <!--<uses-permission android:name="android.permission.GET_TASKS" />-->
        <!--<uses-permission android:name="android.permission.BLUETOOTH" />-->
        <!--<uses-permission android:name="android.permission.WRITE_SETTINGS"/>-->
        <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->
        <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>-->
        <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
        <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>-->

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/logo_icon"
        android:label="@string/app_name"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- 您的合作方标识 -->
        <meta-data android:name="PARTNER_CODE" android:value="wyxx" />
        <!--<activity-->
        <!--android:name=".ui.main.UrlSelectorActivity"-->
        <!--android:screenOrientation="portrait">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN"/>-->

        <!--<category android:name="android.intent.category.LAUNCHER"/>-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <activity
            android:name=".ui.main.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.lend.activity.LendConfirmLoanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.authentication.activity.AddBankCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.activity.RegisterPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.activity.RegisterPhoneActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.login.activity.ResetPwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.login.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.main.WebViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.authentication.activity.PerfectInformationActivity"
            android:screenOrientation="portrait" />
        <!-- 个人信息 -->
        <activity
            android:name=".ui.authentication.activity.PersonalInformationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.GuideActivity"
            android:screenOrientation="portrait" />
        <!-- **********************************************模块区分 放在对于的模块中******************************** -->
        <!-- UCENTER 用户中心 注册的activity -->
        <activity
            android:name=".ui.authentication.activity.AuthEmergencyContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.authentication.activity.GDMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.authentication.activity.GDMapSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <!-- 芝麻信用 -->
        <activity
            android:name="com.android.moblie.zmxy.antgroup.creditsdk.app.SDKActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.lend.activity.BankInputPwdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Translucent" />
        <activity
            android:name=".ui.my.activity.MoreActivity"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.my.activity.FeedBackActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.login.activity.UpdataPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.my.activity.UpdataTradePwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.my.activity.ForgetPayPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.my.activity.SetTradePwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.activity.ForgetPwdActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.authentication.activity.LendWorkDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.authentication.activity.UpLoadPictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.authentication.activity.TakePhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Translucent" />
        <activity
            android:name=".ui.authentication.activity.ShowPictureActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.authentication.activity.ShowSinglePictureActivity"
            android:screenOrientation="portrait" />

        <!--高德地图开放平台key  xiaowei_gdkey-->
        <!--<meta-data-->
        <!--android:name="com.amap.api.v2.apikey"-->
        <!--android:value="72f0010947ce4c609dbe6b8368aa5e83" />-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="031b88512d41a6c0869cd5e2b094e9d2" />

        <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service android:name="com.amap.api.location.APSService" />

        <!-- 友盟的key与渠道 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5ba9aae7f1f55631fe0000b1" />
        <!--<meta-data-->
        <!--android:name="UMENG_CHANNEL"-->
        <!--android:value="xjx-MySelf" />-->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <!--<activity-->
        <!--android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"-->
        <!--android:configChanges="keyboardHidden|orientation"-->
        <!--android:exported="false"-->
        <!--android:windowSoftInputMode="adjustResize" />-->

        <!-- ############ 微信回调配置 ############ -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--############ QQ空间和QQ SSO授权的Activity注册 ############-->
        <!--<activity-->
        <!--android:name="com.tencent.tauth.AuthActivity"-->
        <!--android:launchMode="singleTask"-->
        <!--android:noHistory="true">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.VIEW" />-->

        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--<category android:name="android.intent.category.BROWSABLE" />-->

        <!--<data android:scheme="tencent1105823848" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="com.tencent.connect.common.AssistActivity"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->

        <!-- Face++ -->
        <activity
            android:name="com.megvii.livenesslib.LivenessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.megvii.idcardlib.IDCardScanActivity"
            android:screenOrientation="portrait" />

        <!--我的抽奖码-->
        <activity
            android:name=".ui.my.activity.MyLotteryCodeActivity"
            android:screenOrientation="portrait" />
        <!--借款记录-->
        <activity
            android:name=".ui.my.activity.TransactionRecordActivity"
            android:screenOrientation="portrait" />

        <!--这部分为伪页面-->
        <!--*******************************************************************************************-->
        <!--伪首页-->
        <activity
            android:name="com.credit.pretend.activity.PretendMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!--填写信息-->
        <activity
            android:name="com.credit.pretend.activity.FillInInfoAvtivity"
            android:screenOrientation="portrait" />
        <!--查询结果-->
        <activity
            android:name="com.credit.pretend.activity.QueryResultActivity"
            android:screenOrientation="portrait" />
        <!--历史查询-->
        <activity
            android:name="com.credit.pretend.activity.HistoryQueryActivity"
            android:screenOrientation="portrait" />
        <!--设置-->
        <activity
            android:name="com.credit.pretend.activity.PtdSettingActivity"
            android:screenOrientation="portrait" />
        <!--关于我们-->
        <activity
            android:name="com.credit.pretend.activity.PtdAboutUsActivity"
            android:screenOrientation="portrait" />
        <!--关于我们-->
        <activity
            android:name="com.credit.pretend.activity.InfoDetailActivity"
            android:screenOrientation="portrait" />
        <!--资讯详情webview-->
        <activity
            android:name="com.credit.pretend.activity.InfoDetailWebviewAvtivity"
            android:screenOrientation="portrait" />
        <!--*******************************************************************************************-->


        <service
            android:name=".ui.my.service.UploadPOIService"
            android:exported="true"
            android:persistent="true"
            android:process=":upload.poi">
            <intent-filter>
                <action android:name="com.coder80.timer.service.UploadPOIService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.BootBroadcastReceiver"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <!-- 【必须】 (2.30及以上版新增)展示通知的activity -->
        <activity
            android:name="com.tencent.android.tpush.XGPushActivity"
            android:exported="false"
            android:theme="@style/Theme.Translucent">
            <intent-filter>
                <!-- 若使用AndroidStudio，请设置android:name="android.intent.action" -->
                <action android:name="android.intent.action" />
            </intent-filter>
        </activity>
        <!-- 【必须】 信鸽receiver广播接收 -->
        <receiver
            android:name="com.tencent.android.tpush.XGPushReceiver"
            android:process=":xg_service_v2">
            <intent-filter android:priority="0x7fffffff">
                <!-- 【必须】 信鸽SDK的内部广播 -->
                <action android:name="com.tencent.android.tpush.action.SDK" />
                <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE" />
                <!-- 【必须】 系统广播：网络切换 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <!-- 【可选】 系统广播：开屏 -->
                <action android:name="android.intent.action.USER_PRESENT" />

                <!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
            <!-- 【可选】 usb相关的系统广播，增强信鸽service的复活机会，请根据需要添加 -->
            <intent-filter android:priority="0x7fffffff">
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.MEDIA_REMOVED" />
                <action android:name="android.intent.action.MEDIA_CHECKING" />
                <action android:name="android.intent.action.MEDIA_EJECT" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>
        <!-- 【必须】 信鸽service -->
        <service
            android:name="com.tencent.android.tpush.service.XGPushService"
            android:exported="true"
            android:persistent="true"
            android:process=":xg_service_v2" />

        <!-- 【必须】 通知service，其中android:name部分要改为当前包名 -->
        <service
            android:name="com.tencent.android.tpush.rpc.XGRemoteService"
            android:exported="true">
            <intent-filter>

                <!-- 【必须】 请修改为当前APP名包.PUSH_ACTION，如demo的包名为：com.qq.xgdemo com.innext.xjx -->
                <action android:name="com.credit.xiaowei.PUSH_ACTION" />
            </intent-filter>
        </service>

        <!-- 【可选】APP实现的Receiver，用于接收消息透传和操作结果的回调，请根据需要添加 -->
        <!-- YOUR_PACKAGE_PATH.CustomPushReceiver需要改为自己的Receiver： -->
        <receiver
            android:name=".xgpush.receiver.XGMessageReceiver"
            android:exported="false">
            <intent-filter>

                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>

        <!-- 【必须】 请修改为APP的AccessId，“21”开头的10位数字，中间没空格 -->
        <!--<meta-data-->
        <!--android:name="XG_V2_ACCESS_ID"-->
        <!--android:value="2100242352" />-->
        <meta-data
            android:name="XG_V2_ACCESS_ID"
            android:value="2100313213" />
        <!-- 【必须】 请修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 -->
        <!--<meta-data-->
        <!--android:name="XG_V2_ACCESS_KEY"-->
        <!--android:value="AW555L6L7VAB" />-->
        <meta-data
            android:name="XG_V2_ACCESS_KEY"
            android:value="AW555L6L7VAB" />

        <!--Android 7.0 照相Provider
      android.support.v4.content.FileProvider： 指向v4包里的FileProvider类
      FileProvider： 对应你的content uri的基础域名，生成的uri将以content://com.xxx.fileprovider作为开头
      grantUriPermissions：设置允许获取访问uri的临时权限
      exported：设置不允许导出，我们的FileProvider应该是私有的
      resource:用于设置FileProvider的文件访问路径
      -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.credit.xiaowei.provider.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

    </application>

</manifest>
